0.2/polyMesh/owner filter=lfs diff=lfs merge=lfs -text
0.2/polyMesh/pointLevel filter=lfs diff=lfs merge=lfs -text
0.2/polyMesh/tetBasePtIs filter=lfs diff=lfs merge=lfs -text
0.2/polyMesh/cellLevel filter=lfs diff=lfs merge=lfs -text
0.2/polyMesh/neighbour filter=lfs diff=lfs merge=lfs -text
0.2/polyMesh/level0Edge filter=lfs diff=lfs merge=lfs -text
0.2/polyMesh/points filter=lfs diff=lfs merge=lfs -text
0.2/polyMesh/surfaceIndex filter=lfs diff=lfs merge=lfs -text
0.2/polyMesh/boundary filter=lfs diff=lfs merge=lfs -text
0.2/polyMesh/faces filter=lfs diff=lfs merge=lfs -text
